.form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__register {
    width: 400px;

    h1 {
      text-align: center;
    }

    Button {
      display: block;
      margin-left: auto;
    }
  }
}